[xg_train_untuned_conf]
# DO NOT DELETE OR ADD ANY PARAMETERS HERE. IF YOU HAVE TO, PLEASE REVISE THE CODE: xg_train_untuned.py

# =====================  General Parameters, see comment for each definition =================
# choose the booster, can be gbtree or gblinear
booster = gbtree
# Do not show the detailed information[1 Yes, 0 NO]
silent = 1
# number of parallel threads used to run xgboost
nthread = 4

# =====================  Tree Booster Parameters ==============================================


# =====================  Task Parameters  =====================================================
# choose logistic regression loss function for binary classification
objective = binary:logistic

# ===================== Training Parameters ====================================================
# Is the training data xg format? [1 Yes, 0 No]
xgmat = 1
# The path of training data
dtrain = Data/OC-vuq1/NN_train.txt.libsvm
data = Data/NN_train.txt
label = Data/NNAI_train.txt
# The path of model to be outputted


